body{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}

.container{
    width: 100%;
    height: auto;
    background-color: #031b1d;
}

.rubrics{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3.125rem;
}

.propos, .link_contact, .name, .profession{
    font-family: 'Roboto', sans-serif;
    color: #eae8ff;
    font-weight: 700;
    font-size: 3rem;
    margin:0;
}

.logo_CV{
    background: url('images/logo_projects.png') no-repeat;
    width: 100px;
    height: 100px;
}

.logo_projects{
    background: url('images/logo_cv.png') no-repeat;
    width: 100px;
    height: 100px;
}

.images{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}
.photo{
    background:url('images/avatar-gratuit.png') no-repeat;
    width: 500px; 
    height: 533px;
}

.presentation{
    text-align: center;
    margin: 100px 300px;
}

.title_propos{
    font-family: 'Roboto', sans-serif;
    color: #d9d9d9;
    font-weight: 700;
    font-size: 96px;
    text-transform: uppercase;
    text-decoration: underline #1c9494;
    display: inline-block;
}

.first_chapter, .second_chapter{
    font-family: 'Roboto', sans-serif;
    color: #d9d9d9;
    font-weight: 400;
    font-size: 48px;
}


